<div class="comments-form">
	<center>
	<%= form_for([@post, @post.comments.build]) do |f| %>
	
	<div class="comment-text">
		<%= f.text_field :name, placeholder: "Name" %>
	</div>
	
	<div class="comment-text">
		<%= f.text_area :body, placeholder: "Body" %>
	</div>
	
	<div class="comment-text">
		<%= f.submit %>
	</div>

	<% end %>
	</center>
</div>