<div class="container">

	<%= link_to login_path do %>
	<div class="box"><h2>Log in</h2></div>
	<% end %>

	<%= link_to new_user_path do %>
	<div class="box"><h2>Sign Up</h2></div>
	<% end %>

</div>
