<%= form_for @post do |f| %>

	<div class="text">
		<%= f.text_field :title, placeholder: "Title" %>
	</div>

	<div class="text">
		<%= f.text_area :body, placeholder: "Body" %>
	</div>

	<%= f.submit(@post.new_record? ? 'Create Post' : 'Edit Post') %>
<% end %>